/*
COLORES:;
	#FF6600 NARANJO
	#021C36 AZUL OSCURO
	#3399CC AZUL CLARO
	#235485 SEPARDOR DE NAV

*/

/*DISEÑOS BÁSICOS*/
a, a:focus, a:active, a:visited{
	color: #3399CC;
}
a:hover{
	color: #4d4d4d;
}
body{
	/*background: #E6E6E6;*/
	background: white;
}
h1,h2,h3{
	color: #999;
}
p{
	color: black;
}
p.note{
	color: #3399CC;
}
/*REASE STYLES*/
.tabRease>li>a
{
	color: #4d4d4d;
}
.tabRease>li>a:hover {
	background: #3399CC;
	color: white;
}
.borderTab
{	
	border-color: #3399CC;
}
.ReaseDiv
{
	margin: 2%;
}
#wrapper {
	background: white;
	border-style: solid;
    border-width: 0px 1px 0px 1px;
	border-color: #ddd;
	max-width: 1280px;
}

#footer {
	width: 100%;
}
.estatuto, .estatuto:hover, .estatuto:active{
	color: #3399CC;
	padding: 0;
	margin: 0;
}

/*****BARRA NAVEGADORA ***/
.BarraNavegadora{
	background: #021C36;
	font-weight: bold;
	border-color: #235485;
}
.btn-nav:hover
{
	background: #3399CC;
}

.navbar-default .navbar-nav>li>a
{
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
	border-left: 1px solid #235485;
	padding-left: 35px;
	padding-right: 35px;
	background: #021C36;
}
.navbar-default .navbar-nav>li>.rightNav {
    min-width: 30px;
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
}
.navbar-default .navbar-nav>li>a:hover
{
	background: #3399CC;
	color: white;

}
.navbar-default .navbar-nav>.active>a
{
	background: #FF6600;
	color: white;
}
p.navbar-text.navbar-right
{
	color:white;
	line-height: 50px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	background: white;
	color: #666;
}

.navbar-default .navbar-nav>.active>a:hover{
	background: #3399CC;
	color: white;
}

.nav-tabs>li{
	text-transform: uppercase;
	border-bottom-color: #3399CC;
}
.nav-tabs>li>a{
	background: #021C36;	
	color: white;
}
.nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #021C36;
    border-left: 1px solid #235485;
}
.nav-tabs.nav-justified a:hover{
	background: #3399CC;
	border-bottom-color: #3399CC;
}
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
	border-bottom-color: #3399CC;
	background: #3399CC;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
{
	color: white;
	background: #021C36;
	font-weight: bold;
	margin: 0;
}

.nav-tabs.nav-justified > .active > a{
	border-bottom-color: #FF6600;
	background: #FF6600;
}




/*PANELS*/
.panel{
	border-radius: 0;
}
.panel a{
	color: #3399CC;
}
.panelClick .panel-heading
{
	background: #021C36;
	text-align: center;
	margin: 0;
	border-radius: 0;
}

.panelClick .panel-heading:hover{
	background: #3399CC;
}

.panelRease .panel-heading, #pies
{
	background: #021C36;
	text-align: center;
	margin: 0;
	border-radius: 0;
}

.panel-half .panel-heading{
	background: #021C36;
	color: white;
	text-align: center;
	margin: 0;
	border-radius: 0;
}

/*DROPDOWN*/
.dropdown-menu > li > a{
	font-size: 12px;	
	background: white;
	color: #3399CC;
	border-bottom: solid 1px;
	border-bottom-color: #BDC9D1;
}
.dropdown-menu > li > a:hover{
	color: white;   
	background: #3399CC; 
}
.dropdown-menu > li.active > a {
	color: white;   
	background: #3399CC; 
}
.dropdown-menu > li.active > a:hover {
	color: white;   
	background: #3399CC; 
}

/*BOTONES*/
.btnSomos, .btnHacemos, .btnAdmin, .btnCRUD, .btn-nav, .btn-lg, .btn-social, .btn-manage{
	background: #021C36;
	color: white;
	border-radius: 0;
}
.btnSomos:hover, .btnHacemos:hover, .btnAdmin:hover, .btnCRUD:hover, .btn-nav:hover, .btn-lg:hover, .btn-social:hover, .btn-manage:hover{
	background: #3399CC;
}

/*DATATABLES*/
.pagination>li>a, .pagination>li>span {
	color: #021C36;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	background-color: #3399CC;
	border-color: #3399CC;
}
table.dataTable > tr:hover{
	background: #3399CC;
	color: white;

}
table.dataTable tbody > tr:hover, table.dataTable tbody > tr:hover a{
	background: #3399CC;
	color: white;
	
}
table a{
	color: #3399CC;
}

/*BREADCRUMBS*/
.breadcrumb {
	margin: 2em;
}

/*CALENDAR*/

.fc-event
{
	background: #3399CC;
}
.fc-button, #calendar_inside .fc-event,  #calendar .fc-button-today
{
	background: #3399CC;
}
.fc-button:hover, #calendar_inside .fc-event:hover, #calendar .fc-button-today:hover
{
	background: #3399CC;
}

#calendar th, #calendar_inside th
{
	background: #3399CC;
}
#calendar_inside .fc-event
{
	background: #3399CC;
}

/*HEADER Y FOOTER*/
.header-utem{
	background: white;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
}

.footer-utem{
	font-family: "Oswald";
	color: #E6E6E6;
	border-top: solid 1px #353535;
	padding: 0;
	margin: 0;
	font-size: 1.4rem;
	line-height: 36px;
	height: 100%;

}
.footer-utem p{
	margin: 0;
	padding: 0;
	font-size: inherit;
	line-height: 1.6;
	margin-bottom: 1rem;
	text-rendering: optimizeLegibility;
	color: #007DD6;
	margin-right: 1em;
}
.footer-dark-blue{
	background-color: #040f19;
}

.footer-blue{
	background-color: #021C36;
}
.footer-utem h4{
	font-family: "Oswald";
	font-size: 1.2em;
	text-transform: uppercase;
	color: #007DD6;
}

.footer-row{
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}
.footer-top{
	top: 0;
	padding: 3rem 0;
}
.footer-middle, .footer-bottom{
	padding: 3rem 0;
}
.footer-bottom{
	bottom: 0;
}
.a-blue{
	color: #007DD6;
}
.a-blue:hover{
	color:#006cb8;;
	font-weight: normal;
}
.a-white{
	font-family: Helvetica,Arial,sans-serif;
	color: #E6E6E6;
}
.a-white:hover{
	font-weight: normal;
	color: #E6E6E6;
	text-decoration: underline;
}
.footer-column{
	border-right: 1px solid #007DD6;
	display: inline-block;
	width: 22%;
	margin: 1em;
}
.social-utem{
	padding-left: 1em;
}
.social-utem:hover{
	opacity: 0.5;
}

.aling-left{
	vertical-align: left;
}