<h1>Instituciones adheridas a REASE</h1>
<p> Las organizaciones que actualmente están activas dentro de REASE o alguno de los miembros activos pertenecen a ellas, son: </p>

<%if @instituciones.present?%>
	<% @instituciones.each do |institution| %>
		<%= link_to(image_tag(institution.logo.url(:mini)), institution, :id=>"logo-institution") %>
	<%end%>
<%else%>
	Aún no se han agregado insituciones.
<%end%>