<tr>
	<td>
		Usuario: 
		<%if user.is_admin?%>
			Administrador 
		<%end%>
		<%if user.category == 2%>
			Profesor
		<%elsif user.category == 3%>
			Vinculador social
		<%elsif user.category == 4%>
			Socio comunitario
		<%end%>
	</td>
	<td><%= user.name %> (<%=user.nickname%>)</td>
	<td><%= link_to "Ver", user %></td>
</tr>