<h1> Administrar usuarios <button type="button" class="btn btn-lg btn-admin-question btn-secondary" id:"btn-aduser"  data-trigger="focus" data-container="body" data-toggle="btn-aduser"> ? </button> </h1> 

 <div class="panel panel-default panel-rease">
    <div class="panel-heading">
      Usuarios registrados
    </div>
    <div class="panel-body">
		<table class="table table-striped display" id="areas_dt">
			<thead>
				<tr>
					<th>Apodo</th>
					<th>Tipo de Usuario</th>
					<th>Adhesión</th>
					<td>Gestionar</td>
				</tr>
			</thead>
			<tbody>
				<% @user.each do |user| %>
					<tr>
						<td><%= link_to user.nickname, user_path(user.id) %></td>
						<td>
							<%if user.is_admin?%> [Administrador] <%end%>
							<%if user.category == 2%> Profesor
							<%elsif user.category == 3%> Vinculador Social
							<%else%> Socio comunitario <%end%>
						</td>
						<td>
							<%if user.autorization_level == 1%> 
								Activo
							<%else%> 
								Adherente 
							<%end%>
						</td>
						<td><%=link_to " Gestionar", edit_user_path(user) %></td>
					</tr>
				<%end%>
			</tbody>
		</table>
	</div>
</div>
<%= link_to "Volver", sections_path, :class => "btn btn-lg btn-crud"%>
<script type="text/javascript">

	$(function () {
		$('[data-toggle="btn-aduser"]').popover(
		{
				title: 'Administración de usuarios',
				placement: 'bottom',
				html: 'true', 
				content: '<p>El administrador es el único capaz de nombrar a otro usuario como administrador y cambiar su tipo de usuario</p>'
			}
		)
	})

	$(document).ready(function() {
		$('#areas_dt').DataTable({
			"language": {
				"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
			},
		});
	} );
</script>