<%= link_to "Nueva seccion de Estatuto", sections_newEstatuto_path, :class=>"btn btn-lg btn-crud"%>

<h1>Secciones de Estatuto anteriores: </h1>

<%= render "muestra", {orden: "Estatuto", eliminar: "Si"} %>