<h1>Administrar Novedades </h1>
<%= link_to "Nueva noticia", sections_newNovedades_path, :class=>"btn btn-lg btn-crud"%>

<h1>Noticias anteriores: </h1>
<%= render "muestra", {orden: "Novedad", eliminar: "Si"} %>

