<h1>EDITAR Formato sitematización actividades aprendizaje servicio</h1>
<%if @service.present?%>
	<%=render 'form', {accion: "Actualizar"}%>
<%else%>
	<%=render 'report', {accion: "Actualizar"}%>
<%end%>