/*FONDO*/
.btn, .btn a, .btn-somos, .btn-hacemos, .btn-admin, .btn-crud, .btn-nav
{
	background: #30aaaa;
	background-image: -webkit-linear-gradient(top, #30aaaa, #30bbbb);
	background-image: -moz-linear-gradient(top, #30aaaa, #30bbbb);
	background-image: -ms-linear-gradient(top, #30aaaa, #30bbbb);
	background-image: -o-linear-gradient(top, #30aaaa, #30bbbb);
	background-image: linear-gradient(to bottom, #30aaaa, #30bbbb);
	color: white;
	font-size:  14px;
}
/*SOMBRA*/
.btn, .btn a, .btn-hacemos, .btn-somos, .btn-crud, .btn-nav
{
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 3px;
	-webkit-box-shadow: 3px 2px 5px .666666;
	-moz-box-shadow: 3px 2px 5px .666666;
	box-shadow: 3px 2px 5px .666666;
	margin-bottom: 15px;
}

/*HOVER*/
.btn:hover, .btn a:hover,.btn-admin:hover , .btn-somos:hover, .btn-crud:hover
{
	background: #30bbbb;
	background-image: -webkit-linear-gradient(top, #30bbbb, #30cccc);
	background-image: -moz-linear-gradient(top, #30bbbb, #30cccc);
	background-image: -ms-linear-gradient(top, #30bbbb, #30cccc);
	background-image: -o-linear-gradient(top, #30bbbb, #30cccc);
	background-image: linear-gradient(to bottom, #30bbbb, #30cccc);
	background: #30bbbb;
	color: white;
	font-weight: bold;
}

.btn-crud
{
	min-width: 150px;
}
.btn:visited, .btn a:visited, .btn:focus, .btn a:focus
{
 color: white;
}
/*COMPORTAMIENTO*/
.btn
{
	margin-left: 4%;
	margin-right: 4%;
}
.btn-secondary{
	margin: 0;
}
.btn-crud, .buscador
{
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 1%;
	text-align: center;
}

.btn-cerrar, 
{
	margin-top: 2%;
	margin-right: 4%;
}
.btn-hacemos, .btn-somos 
{
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 1%;
	text-align: center;
	min-width: 200px;
}
.btn-somos
{
	min-width: 250px;
}
.btn-admin{
	min-width: 250px;
	margin: 0;
	margin-bottom: 2em;
	text-align: center;
	display: inline;
}
.btn-admin-question{
	display: inline;
	color: black;
	background-image: none;
	background: white;
	margin-left: 0;
	border-color: #30aaaa;	
}
.btn-admin-question:hover
{
	color: black;
	background: #ddd;
}

.btn-heading, .btn-heading:hover, .btn-heading:visited
{
	color: white;
}
.btn-search
{
	font-size: 12px;
	padding: 7px;
}
.btn-social{
	margin:0;
	font-size: 18px;
	font-weight: bold;
	border-radius: 2em;
	min-width: 2.5em;
}
.btn-white, .btn-white:visited
{
	color: black;
	background-image: none;
	background: white;
	margin-left: 0;
}

.btn-white:hover
{
	color: black;
	background: #ddd;
}
.btn-aside
{
	min-width: 95%;
	text-align: left;
	margin: 0;
	background: #30bbbb;
	font-weight: bold;
	border-radius: 3px;
	padding: 9px;
	padding-left: 15px;
	margin-top: 7px;
}
.form-control
{
	margin-bottom: 20px;
}

.be-white
{
	background: white;
}

.btn-nav
{
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#btn-perfil
{
	margin-top: 0px;
}
.social-addon{
	min-width: 5em;
	font-size: 18px;
}