/*****BARRA NAVEGADORA ***/

.banner-rease{
	max-height: 120px;
	padding: 1em;
}

.border-tab{	
	background: white;
	border: solid 1px;
	border-color: #30aaaa;
	margin: 0;
}

.div-rease{
	margin: 2%;
}

.dropdown-menu > li > a{
	color: grey;
	font-weight: bold;
    min-width: 250px;
	padding: 1em;
}

.dropdown-menu > li > a:hover{  
	background: #30aaaa; 
	background-image: -webkit-linear-gradient(top, #30aaaa, #30bbbb);
	background-image: -moz-linear-gradient(top, #30aaaa, #30bbbb);
	background-image: -ms-linear-gradient(top, #30aaaa, #30bbbb);
	background-image: -o-linear-gradient(top, #30aaaa, #30bbbb);
	background-image: linear-gradient(to bottom, #30aaaa, #30bbbb);
	color: white; 
}

.dropdown-menu > li.active > a {
	background: #30cccc;
	color: white;
}

.dropdown-menu > li.active > a:hover {
	background: #30aaaa;
}

.movdb-header {
	width: 100%;
}

/*ESTILOS DE NAVBAR*/
.navbar{
	position: relative;
}

.navbar-default .navbar-nav>li>a{
		color: white;
		min-width: 115px;
		padding-left: 10px;
		padding-right: 5px;
		text-align: center;
}

.navbar-default .navbar-nav>li>.nav-text-right{
	font-size: 15px;
	min-width: 30px;
}

.navbar-default .navbar-nav>li>a:hover{
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #30bbbb);
	background-image: -moz-linear-gradient(top, #ffffff, #30bbbb);
	background-image: -ms-linear-gradient(top, #ffffff, #30bbbb);
	background-image: -o-linear-gradient(top, #ffffff, #30bbbb);
	background-image: linear-gradient(to bottom, #ffffff, #30bbbb);
	color: #999;

}

.navbar-default .navbar-nav>.active>a{
	background: white;
	color: #999;
}


/*colores para barras y paneles*/
.navbar-rease, .panel-click .panel-heading, .btn-aside{
	background: #30bbbb;
	background-image: -webkit-linear-gradient(top, #30bbbb, #30cccc);
	background-image: -moz-linear-gradient(top, #30bbbb, #30cccc);
	background-image: -ms-linear-gradient(top, #30bbbb, #30cccc);
	background-image: -o-linear-gradient(top, #30bbbb, #30cccc);
	background-image: linear-gradient(to bottom, #30bbbb, #30cccc);
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.navbar-rease {
	-webkit-box-shadow: 3px 2px 5px #666666;
	-moz-box-shadow: 3px 2px 5px #666666;
	border-color: #30cccc;
	font-weight: bold;
	
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	color: white;
	background: #30bbbb;
	font-weight: bold;
	margin: 0;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
	border-bottom-color: #30aaaa;
}

.nav-text-right{
	max-width: 100px;
	text-align: left;

}

/*colores para barras y paneles*/
.panel-click .panel-heading:hover, .btn-nav:hover, .btn-aside:hover{
	background: #30cccc;
	background-image: -webkit-linear-gradient(top, #30cccc, #30dddd);
	background-image: -moz-linear-gradient(top, #30cccc, #30dddd);
	background-image: -ms-linear-gradient(top, #30cccc, #30dddd);
	background-image: -o-linear-gradient(top, #30cccc, #30dddd);
	background-image: linear-gradient(to bottom, #30cccc, #30dddd);
	font-weight: bold;
}

.panel-half{	
	display: inline-block;
	margin-right: 2%;
	margin-left: 2%;
	width: 45%;
}

.panel-rease .panel-heading, #pies, .panel-half .panel-heading{
	background: #30aaaa;
	background-image: -webkit-linear-gradient(top, #30aaaa, #30bbbb);
	background-image: -moz-linear-gradient(top, #30aaaa, #30bbbb);
	background-image: -ms-linear-gradient(top, #30aaaa, #30bbbb);
	background-image: -o-linear-gradient(top, #30aaaa, #30bbbb);
	background-image: linear-gradient(to bottom, #30aaaa, #30bbbb);
	font-size:  12px;
}

.panel-rease, .panel-click{
	margin: 2%;
	text-align: center;
}

.panel-rease .panel-heading, .panel-click .panel-heading, .panel-half .panel-heading{
	color: white;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
}

.panel-rease .panel-footer, .panel-click .panel-footer{
	background: white;
}

.tab-rease{
	margin: 0;
	width: 100%;
}

.tab-rease>li>a{
	color: #30aaaa;
	margin: 0;
}

.tab-rease>li>a:hover{
	background: #30cccc;
	color: white;
	font-weight: bold;
	margin: 0;
}
